body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 0 auto;
}

.data-grid-last-column-header .MuiDataGrid-columnSeparator {
  display: none;
}


@media print {
  .icono-imprimir {
    display: none;
  }

  .papper-print {
    padding: '20px';
    margin: '20px';
  }

  .break-after {
    page-break-after: always;
  }
}

.MuiDataGrid-root {
  font-size: 0.7rem; /* Define el tamaño de fuente deseado */
}